/* GRIDS INICIO */

$color-primario: #A5C281;
$color-fuente: black;

.grid-container , col1 {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card32";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
}


.card {
    display: flex;
    align-items: center;
}

.btn-primary {
    color: $color-fuente;
}

.btn {
    background-color: $color-primario;
}