/* GRIDS PARA IMAGES DE PAGES COCINA, DORMITORIO, BAÑO, MUEBLES, EXTERIOR */

.grid-container2 {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    
}

.grid-container-pages , .col , .card {
    width: 65%;
    height: auto;
    object-fit: cover;
    margin: auto;
}

@media (max-width: 576px) {
    .grid-container2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
